column {
    float: left;
    min-height: 100px;
}

.film-poster {
    width: 100%;
    margin-bottom: 0px;
}

a {
    text-decoration: underline;
    text-decoration-color: darkblue;
    text-decoration-thickness: 3px;
    color: black;
    font-size: 1.1em;
}

.main-panel {
    min-height: 700px;
    box-sizing: border-box;
}

.content-wrapper {
    margin: 10px;
    margin-top: 20px;
}

.film-analysis {
    margin: 20px;
    margin-top: 0px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 10px;
    padding-bottom: 0px;
}

.film-analysis h2 {
    margin-bottom: 10px;
}

p {
    margin-top: 0px;
    font-size: 1.05em;
    line-height: 1.3em;
}

li {
    margin-top: 0px;
    font-size: 1.05em;
    line-height: 1.3em;
}

.yt-embed {
    width: 100%;
    aspect-ratio: 16 / 9;
}

h2 {
    font-size: 1.1em !important;
    background-color: darkblue !important;
    color: white !important;
    font-weight: bold !important;
    width: fit-content;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
}

h2 a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent !important;
}

.timeline-return {
    margin-top: 10px;
}

a:hover {
    background-color: lightgrey;
    width: fit-content;
}

.year {
    width: calc(35% - 12px);
    text-align: center;
    font-size: 2.7em;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    text-align: center;
    color: white;
    z-index: 99;
    margin-top: 23%;
}

.film-title {
    margin: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-style: italic;
}

@media only screen and (max-width: 920px) {
    column {
        width: 100% !important;
    }

    .film-title {
        margin-left: 0px;
        margin-top: 10px;
    }

    .film-analysis {
        margin-left: 0px;
        margin-right: 0px;
    }
}